#SheCodesLogo {
  text-align: left;
  display: block;
  width: 150px;
  height: 60px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  font-family: "Crimson Pro", serif;
  font-size: 25px;
  margin: 30px 200px;
  padding: 30px;
  background-color: #dad4ec;
}

.container {
  border: 0.15px solid #dad4ec;
  border-radius: 20px;
  box-shadow: 2.5px 2.5px 10px gray;
  padding: 30px auto;
  margin: auto;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

#search-button {
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 10px grey;
  font-size: 20px;
  width: 150px;
  color: #f9f7fd;
}

button:hover {
  cursor: pointer;
  transition: all 200ms ease;
  opacity: 1;
  color: white;
}

.currentLocation {
  background-color: cadetblue;
  color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 10px grey;
  font-size: 20px;
  width: 170px;
  margin-right: 20px;
}

.input-city {
  width: 420px;
  margin-left: 20px;
  border-radius: 6px;
  border: 1px solid gray;
  color: rgba(39, 33, 66, 0.4);
  height: 50px;
}

.city-search {
  display: flex;
  grid-gap: 8px;
  font-size: 30px;
}

.city {
  padding: 0 30px;
}

h1 {
  color: cadetblue;
  font-size: 60px;
  font-weight: 800;
}

#currentDescription:first-letter {
  text-transform: capitalize;
}

#currentDescription {
  color: #596d79;
}

#currentTime {
  color: #596d79;
}

img,
.rain-icon {
  width: 150px;
  height: 150px;
}

.active {
  color: black;
  cursor: default;
}

.current-conditions {
  display: flex;
}

.degrees {
  line-height: 3;
}

.humidity {
  color: cadetblue;
}

#humidity {
  color: #596d79;
}

.wind {
  color: cadetblue;
}

#wind {
  color: #596d79;
}

.temperature {
  color: #596d79;
  font-size: 60px;
  font-weight: 200;
}

.side-bar {
  color: #596d79;
}

.fa-solid {
  color: cadetblue;
}

.side-conditions {
  font-size: 30px;
}

.forecast-day {
  color: cadetblue;
  font-size: 30px;
  padding: 10px 20px 5px 50px;
}

.forecast-temperature {
  padding: 10px 20px 10px 40px;
}

.forecast-temperature-max {
  color: #596d79;
  padding-right: 8px;
}

.forecast-temperature-min {
  color: #596d79;
  opacity: 0.6;
}

footer {
  color: #596d79;
  margin: 20px 50px;
  text-align: center;
  font-size: 18px;
}

.footer {
  color: #885df1;
}
